In [2]:
import streamlit as st
import numpy as np
import plotly.express as px
import pandas as pd
import glob

In [3]:
datafiles = glob.glob('./data/**.csv')

data = []
for file in datafiles:
    df = pd.read_csv(file, header=None)
    data.append({'name':file, 'data':df})

In [7]:
data[0]['name']

'./data/test.csv'

In [9]:
data['name']

TypeError: list indices must be integers or slices, not str

In [10]:
[i.get('name') for i in data]

['./data/test.csv', './data/test1.csv']

In [27]:
df = pd.DataFrame(data)

In [40]:
df[df['name']=='./data/test1.csv']['data']

1            0         1
0   -5.00  0.063821
1   -4...
Name: data, dtype: object

In [46]:
df.loc[0, 'data']

        0         1
0   -5.00  0.006042
1   -4.99  0.002254
2   -4.98  0.004236
3   -4.97  0.009845
4   -4.96  0.008013
..    ...       ...
995  4.95  0.003504
996  4.96  0.007512
997  4.97  0.009166
998  4.98  0.005351
999  4.99  0.002059

[1000 rows x 2 columns]

In [50]:
df[df['name']=='./data/test1.csv'].index[0]

1